{% extends '::base.html.twig' %}

 {% block cuerpo %}
     
     
       <div id="menuSuperior">
            {% block menuSuperior %}
                
                {% endblock %}
        </div>
 
           <div id="menuLateral">
            {% block menuLateral %}
                
                {% endblock %}
        </div>
 
        <div id="nose">
            {% block centro %}
                A<br><br>
                {% endblock %}
        </div>
 
 
 
 
 
 
 
 
 
 
 {% endblock %}

        {# empty Twig template #}
